@import "../../global.scss";

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: $sidebarColor;

  @include mobile {
    flex-direction: column;
  }

  @include mobileHorizontal {
    flex-direction: column;
    justify-content: start;
  }

  .login-left {
    padding: 30px;
    margin-right: 40px;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 80%;
      margin: unset;
      height: unset;
      padding: 10px 30px;
      margin-bottom: 50px;
    }

    @include mobileHorizontal {
      width: 200px;
      margin: unset;
      height: unset;
      padding: 10px 30px;
      margin-bottom: 20px;
      margin-top: 50px;
    }

    @include mobileKeyboard {
      display: none;
    }

    @media (max-width: 950px) and (min-width: 769px) {
      width: 350px;
    }

    .wordmark {
      width: 500px;
      position: absolute;

      @include mobile {
        width: 100%;
        max-width: 300px;
      }

      @include mobileHorizontal {
        max-width: 200px;
        width: 200px;
      }

      @include mobileKeyboard {
        display: none;
      }

      @media (max-width: 950px) and (min-width: 769px) {
        width: 350px;
      }
    }

    .glow {
      position: absolute;
      width: 99%;
      height: 129px;
      border-radius: 0px 32px 32px 32px;
      background-color: $primaryColor;
      box-shadow: 0px 0px 10px 5px $primaryColor;
      animation: animated-glow 8s ease infinite;

      @media (max-width: 950px) and (min-width: 769px) {
        border-radius: 0px 25px 25px 25px;
        width: 350px;
        height: 90px;
      }

      @include mobile {
        border-radius: 0px 20px 20px 20px;
        max-width: 298px;
        height: 77px;
      }

      @include mobileHorizontal {
        border-radius: 0px 12px 12px 12px;
        max-width: 198px;
        height: 51px;
      }

      @include mobileKeyboard {
        display: none;
      }
    }

    @keyframes animated-glow {
      0% {
        box-shadow: 0px 0px 0px 0px $primaryColor;
      }
      27% {
        box-shadow: 0px 0px 0px 0px $primaryColor;
      }

      41% {
        box-shadow: 0px 0px 15px 10px $primaryColor;
      }
      59% {
        box-shadow: 0px 0px 15px 10px $primaryColor;
      }

      73% {
        box-shadow: 0px 0px 0px 0px $primaryColor;
      }
      100% {
        box-shadow: 0px 0px 0px 0px $primaryColor;
      }
    }
  }

  .login-right {
    @include mobileHorizontal {
      padding: 10px 0px 30px 0px;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      border: solid 2px $primaryColor;
      border-radius: 9px;
      padding: 25px;
      margin: 15px;
      min-width: 300px;
      background-image: $glassGradient;

      button {
        background-color: $primaryColorFaded;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 7px 15px;
        border-radius: 3px;
        transition: all 0.2s ease;
        cursor: pointer;
        width: 100px;
        margin: 10px auto 0px auto;
        color: $textWhite;

        &:hover,
        &:focus {
          background-color: $primaryColor;
        }
      }
    }
  }
}

.form-input {
  background-color: transparent;
  color: $textWhite;
  border: none;
  border-bottom: solid 2px $formInputColor;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  padding: 7px 12px;
  margin: 5px 0px;
  width: 90%;
  font-size: 16px;
  transition: all 0.15s ease;

  &:focus {
    background-color: $formInputFocusColor;
    border-bottom: solid 2px $primaryColor;
  }
}

.login-sub-container {
  position: relative;

  .dont-have-an-account {
    color: $textWhite;

    a {
      color: $primaryColor;
    }
  }

  .error-span {
    color: rgb(252, 86, 86);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 300px;
  }
}
