@import "../../global.scss";

.profile-feed {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile {
    max-width: 100%;
    width: 100%;
  }

  @include mobileHorizontal {
    max-width: 100%;
    width: 100%;
  }

  @include mobileKeyboard {
    max-width: 100%;
    width: 100%;
  }

  .profile-header {
    width: 100%;
    background-color: $navbarColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;

    @include mobile {
      background: rgb(0, 0, 0);
      align-items: flex-end;
    }

    @include mobileKeyboard {
      background: rgb(0, 0, 0);
      align-items: flex-end;
    }

    .profile-header-wrapper {
      max-width: 700px;
      width: 700px;
      padding: 0px 30px;

      @include mobile {
        padding: 5px 0px 0px 0px;
        max-width: calc(100% - 125px);
        width: 100%;
      }

      @include mobileKeyboard {
        padding: 5px 0px 0px 0px;
        max-width: calc(100% - 125px);
        width: 100%;
      }

      @include smallDesktop {
        padding: 0px 0px 0px 200px;
        max-width: 100%;
        width: 100%;
      }

      @include mobileHorizontal {
        padding: 0px 0px 0px 120px;
        max-width: 100%;
        width: 100%;
      }

      .profile-info {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: wrap;

        @include mobile {
          justify-content: flex-end;
          margin-right: 30px;
          max-width: 100%;
          float: right;
        }

        @include mobileKeyboard {
          justify-content: flex-end;
          margin-right: 30px;
          max-width: 100%;
          float: right;
        }

        .profile-info-username {
          font-size: 40px;
          font-weight: 600;

          @include mobile {
            font-size: 24px;
          }

          @include mobileKeyboard {
            font-size: 24px;
          }
        }

        .profile-info-name {
          font-weight: 300;
          margin-left: 10px;
          font-size: 30px;

          @include mobile {
            font-size: 18px;
            line-height: 20px;
            height: 18px;
          }

          @include mobileKeyboard {
            font-size: 18px;
            line-height: 20px;
            height: 18px;
          }
        }

        .profile-header-follows-you {
          margin-left: 12px;
          font-size: 11px;
          font-weight: 500;
          padding: 3px 6px;
          border-radius: 0px 7px 7px 7px;
          background-color: $postBackgroundColor;
          color: $sidebarColor;
        }
      }
    }
  }
  .profile-header-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: $navbarColor;
    top: -10px;
    z-index: 3;
    padding-top: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    overflow-x: hidden;

    .profile-header-buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      max-width: 700px;
      background-color: $navbarColor;

      @include mobile {
        max-width: 100%;
        width: 100%;
      }

      @include mobileKeyboard {
        max-width: 100%;
        width: 100%;
      }

      @include mobileHorizontal {
        max-width: 100%;
        width: 100%;
      }

      .profile-info-clickable {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        border: none;
        border-bottom: solid 3px $borderColor;
        background-color: transparent;
        color: $fadedTextColor;
        font-size: 17px;
        padding: 8px 0px;
        cursor: pointer;
        transition: all 0.2s ease;

        &.first {
          @include mobile {
            width: 70%;
          }
          @include mobileKeyboard {
            width: 70%;
          }
        }

        &.last {
          @include mobile {
            padding-right: 15px;
          }
          @include mobileKeyboard {
            padding-right: 15px;
          }
        }

        .button-name {
          @include mobile {
            width: 0px;
            visibility: hidden;
          }
          @include mobileKeyboard {
            width: 0px;
            visibility: hidden;
          }
          @include mobileHorizontal {
            width: 0px;
            visibility: hidden;
          }
        }

        &:hover {
          background-color: $formInputColor;
          border-bottom: solid 3px $primaryColorFaded;
        }

        @include mobile {
          width: 100%;

          &:hover {
            background-color: rgb(10, 10, 10);
            border-bottom: solid 3px $primaryColor;
          }
        }

        @include mobileKeyboard {
          width: 100%;

          &:hover {
            background-color: rgb(10, 10, 10);
            border-bottom: solid 3px $primaryColor;
          }
        }

        .count {
          font-weight: 700;
          margin-right: 6px;
          font-size: 18px;
          color: $textWhite;
        }

        .profile-info-icon {
          margin: 0px 0px 0px 10px;

          @include mobile {
            margin: 0px 0px 0px 2px;
          }

          @include mobileKeyboard {
            margin: 0px 0px 0px 2px;
          }
        }
      }

      .pic-active {
        background-color: rgb(10, 10, 10);
        border-bottom: solid 3px $primaryColor;

        &:hover {
          border-bottom: solid 3px $primaryColorFaded;
        }

        @include mobile {
          padding: 8px 12px;
          &:hover {
            border-bottom: solid 3px $primaryColor;
          }
          .button-name {
            visibility: visible;
            width: auto;
          }

          .profile-info-icon {
            @include mobile {
              margin: 0px 0px 0px 5px;
            }
          }
        }

        @include mobileKeyboard {
          padding: 8px 12px;
          &:hover {
            border-bottom: solid 3px $primaryColor;
          }
          .button-name {
            visibility: visible;
            width: auto;
          }

          .profile-info-icon {
            @include mobileKeyboard {
              margin: 0px 0px 0px 5px;
            }
          }
        }

        @include mobileHorizontal {
          padding: 8px 12px;
          &:hover {
            border-bottom: solid 3px $primaryColor;
          }
          .button-name {
            visibility: visible;
            width: auto;
          }

          .profile-info-icon {
            @include mobileHorizontal {
              margin: 0px 0px 0px 5px;
            }
          }
        }
      }
    }
  }

  .feed {
    @include mobile {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
    @include mobileHorizontal {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
    @include mobileKeyboard {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
    .feed-wrapper {
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;
      max-width: 700px;

      @include mobile {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding: 10px 5px 0px 5px;
      }

      @include mobileKeyboard {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding: 10px 5px 0px 5px;
      }

      @include mobileHorizontal {
        max-width: 500px;
        min-width: 200px;
        width: 100%;
        margin: auto;
      }

      .no-content-message {
        width: 100%;
        max-width: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
        padding: 40px 30px;
        font-size: 24px;
        font-weight: 500;
        border-radius: 1px 25px 25px 25px;
        border: 3px solid $fadedButtonColor;
        color: $fadedButtonColor;
        margin-top: 15px;
      }

      // profile info
      .profileInfo-container {
        width: 100%;
        max-width: 90%;
        height: 100%;
        background-color: transparent;
        // background-image: $glassGradient;
        border: solid 2px;
        margin: auto;
        padding: 20px 30px;
        border-radius: 1px 25px 25px 25px;
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: left;
        font-size: 18px;
        margin-top: 20px;

        .profile-info-div {
          padding: 5px;
          display: flex;
          position: relative;

          &.theme {
            align-items: center;
          }

          .profile-info-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-left: 8px;

            &.theme-container {
              font-weight: 500;
              font-size: 16px;
              width: auto;
              padding: 6px 15px;
              border-radius: 25px;
            }
            // DEFAULT GREEN THEME
            &.defaultgreen {
              background-color: #4bb44b;
              color: black;
            }
            // DEFAULT YELLOW THEME
            &.defaultyellow {
              background-color: rgb(255, 196, 0);
              color: black;
            }
            // DEFAULT AQUA THEME
            &.defaultaqua {
              background-color: #23c5d9;
              color: black;
            }
            // DEFAULT RED THEME
            &.defaultred {
              background-color: crimson;
              color: black;
            }
            // OUTRUN THEME
            &.outrun {
              background-color: rgb(42, 32, 85);
              color: rgb(21, 189, 255);
            }
          }

          .profile-info-strong {
            font-weight: bold;
            min-width: 90px;
            color: $fadedTextColor;
          }

          .profile-website-a {
            color: $textWhite;
            cursor: pointer;
            transition: all ease 0.12s;
            word-break: break-all;

            &:hover {
              color: $primaryColor;
            }
          }
        }
        .edit-icon {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          // color: $textWhite;

          &:hover {
            // color: $primaryColor;
          }
        }
      }

      // profile posts
      .profile-posts-feed {
        width: 100%;
        max-width: 620px;

        @include mobile {
          padding: 10px 15px 0px 15px;
        }

        @include mobileKeyboard {
          padding: 10px 15px 0px 15px;
        }
      }

      // profile follows
      .profile-follows-feed {
        width: 100%;
        min-width: 100%;
        width: 100%;
        padding: 0px 15px 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      // profile images
      .profile-images-feed {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 0px 5px 10px 5px;
      }

      // share post
      .share-desktop-container {
        display: block;
        width: 100%;
        max-width: 620px;

        @include mobile {
          display: none;
        }

        @include mobileHorizontal {
          display: none;
        }

        @include mobileKeyboard {
          display: none;
        }
      }
    }
  }
}
