@import "../../global.scss";

.likesFeed-post-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;

  @include mobile {
    width: 90%;
  }

  .likesFeed-post-upper {
    padding: 10px;
    background-color: #595959;
    border-radius: 3px 25px 25px 25px;
    width: 100%;
    max-width: 620px;

    @include mobileHorizontal {
      max-width: 500px;
    }

    @include mobile {
      padding: 10px 10px 7px 10px;
    }

    .likesFeed-post-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;

      a {
        height: 50px;
        display: flex;
        align-items: center;
        color: white;
        margin-right: 12px;

        .likesFeed-post-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .likesFeed-post-top-center {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;

        .likesFeed-post-info {
          display: flex;
          align-items: baseline;
          justify-content: baseline;

          a {
            color: white;
            margin-right: unset;
            height: unset;

            .likesFeed-post-username {
              font-size: 18px;
              font-weight: 500;
              margin: 0 10px 0px 0px;
              cursor: pointer;
            }
          }

          .likesFeed-post-date {
            font-size: 12px;
            color: $fadedTextColor;
          }
        }

        .likesFeed-post-img-wrapper {
          margin: 6px 0px 6px 0px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @include mobile {
            margin: 4px 0px 2px 0px;
          }

          .likesFeed-post-img-container {
            width: 100%;
            max-height: 300px;
            background-color: $sidebarColor;
            border-radius: 0px 20px 20px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 10px;

            @include mobile {
              width: 100%;
              max-height: 180px;
            }
            @include mobileHorizontal {
              max-height: 180px;
            }

            .likesFeed-post-img {
              width: 100%;
              max-height: inherit;
              object-fit: cover;
            }
          }
        }

        .likesFeed-post-body {
          padding: 3px 0px;
          text-align: left;
          font-size: 18px;
        }
        .likesFeed-post-edit {
          margin-left: 0px;
          margin-right: auto;
          margin-top: 5px;
          margin-bottom: 2px;
          padding: 3px 10px 4px 10px;
          text-align: left;
          font-size: 12px;
          font-weight: 500;
          background-color: $editedBackgroundColor;
          color: $primaryColorFaded;
          border-radius: 20px;
        }
      }
    }
  }
}

.likesFeed-wrapper {
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 620px;
  margin: auto;

  @include mobileHorizontal {
    max-width: 500px;
  }

  .no-likes-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    font-size: 24px;
    color: $fadedButtonColor;
  }
}
