@import "../../global.scss";

.profile-modal-wrapper {
  position: absolute;
  height: calc(100% - $navbarHeight);
  width: 100%;
  left: 0;
  right: 0;
  top: $navbarHeight;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .profile-modal-container {
    // background-color: $sidebarColor;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
    border-radius: 0px 20px 20px 20px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.14);

    @include mobile {
      border-radius: 0px 10px 10px 10px;
    }
    @include mobileKeyboard {
      border-radius: 0px 10px 10px 10px;
    }

    @include mobileHorizontal {
      min-width: 250px;
      max-width: 250px;
    }

    .avatar-modal-bottom-container {
      background-color: $sidebarColor;
      width: 100%;
      padding: 10px;

      .avatar-modal-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar-modal-options {
          display: flex;
          margin-left: 20px;

          @include mobileHorizontal {
            margin-left: 8px;
          }

          .avatar-modal-option {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            cursor: pointer;

            @include mobileHorizontal {
              margin-right: 8px;
            }

            .file-icon {
              font-size: 18px;
              margin-right: 10px;
              // color: $primaryColorFaded;

              @include mobileHorizontal {
                margin-right: 8px;
              }
            }

            &:hover {
              .share-icon {
                color: $primaryColor;
              }
            }

            .avatar-modal-option-text {
              font-size: 16px;
              font-weight: 500;

              @include mobileHorizontal {
                font-size: 13px;
              }
            }
          }
        }

        .save-button {
          border: none;
          padding: 7px;
          border-radius: 5px;
          background-color: transparent;
          background-image: $glassGradient;
          border: solid 2px $primaryColorFaded;
          font-weight: 500;
          font-size: 16px;
          margin-right: 20px;
          cursor: pointer;
          color: $textWhite;
          outline: none;

          @include mobileHorizontal {
            margin-right: 10px;
          }

          &:hover,
          &:focus {
            background-image: none;
            border: solid 2px $primaryColor;
            background-color: $primaryColor;
          }
        }

        .invalid-save-button {
          background-image: none;
          color: $fadedButtonColor;
          border: solid 2px $fadedButtonColor;

          &:hover,
          &:focus {
            background-image: none;
            border: solid 2px $fadedButtonColor;
            background-color: transparent;
            color: $fadedButtonColor;
          }
        }
      }
    }
    .avatar-modal-img-container {
      position: relative;
      min-width: 500px;
      min-height: 500px;
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileKeyboard {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileHorizontal {
        width: 100%;
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .avatar-modal-cropper {
        width: 100%;
        position: absolute;
        object-fit: contain;
        display: block;
      }

      .avatar-modal-img {
        min-width: 500px;
        min-height: 500px;
        object-fit: cover;
        display: block;

        @include mobile {
          min-width: 95vw;
          min-height: 95vw;
        }

        @include mobileKeyboard {
          min-width: 95vw;
          min-height: 95vw;
        }

        @include mobileHorizontal {
          min-width: 250px;
          min-height: 250px;
          max-width: 250px;
          max-height: 250px;
        }
      }

      .avatar-modal-cancel-img {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s ease;
        color: crimson;
        z-index: 10;
      }
    }

    .cover-modal-img-container {
      position: relative;
      min-width: 500px;
      min-height: 500px;
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileKeyboard {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileHorizontal {
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .cover-modal-cropper {
        width: 100%;
        position: absolute;
        object-fit: contain;
        display: block;
      }

      .cover-modal-img {
        min-width: 500px;
        max-width: 500px;
        object-fit: cover;
        display: block;

        @include mobile {
          min-width: 95vw;
          max-width: 95vw;
        }

        @include mobileKeyboard {
          min-width: 95vw;
          max-width: 95vw;
        }

        @include mobileHorizontal {
          min-width: 250px;
          min-height: 250px;
          max-width: 250px;
          max-height: 250px;
        }
      }

      .cover-modal-cancel-img {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s ease;
        color: crimson;
      }
    }

    .edit-modal-message {
      padding: 20px;
      width: 100%;
      font-size: 20px;
    }

    .edit-modal-selection-container {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .edit-modal-option {
        font-size: 17px;
        padding: 20px;
        width: 100%;
        background-color: $backgroundColor;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .edit-modal-icon {
          // color: $primaryColor;
          margin-right: 6px;
        }

        &:hover {
          background-color: $editedBackgroundColor;
        }
      }
    }
  }
}

.cropper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
