@import "../../global.scss";

.profile {
  display: flex;
  height: 100vh;
}

.profile-right {
  height: calc(100vh - $navbarHeight);

  .profile-right-content {
    overflow-y: scroll;
    overflow: overlay;
    height: 100%;
    position: relative;

    @include mobile {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      min-height: calc(100vh - $navbarHeight - $footerHeight);
      height: calc(100vh - $navbarHeight - $footerHeight);
    }

    @include mobileHorizontal {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      min-height: calc(100vh - $navbarHeight);
      height: calc(100vh - $navbarHeight);
    }

    .profile-right-top {
      .profile-cover {
        position: relative;
        cursor: pointer;

        .cover-img-container {
          position: relative;

          .edit-icon-container {
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: 3px;
            background-color: $formInputFocusColor;
            padding: 2px;

            @include mobile {
              top: 10px;
              right: 10px;
            }
          }

          .edit-icon {
            cursor: pointer;
            color: $textWhite;

            &:hover {
              color: $primaryColor;
            }
          }
        }

        .profile-cover-img {
          width: 100%;
          height: 200px;
          object-fit: cover;

          @include mobile {
            height: 120px;
          }

          @include mobileHorizontal {
            height: 120px;
          }
        }

        .profile-img-container {
          width: 142px;
          height: 142px;
          border-radius: 50%;
          position: absolute;
          left: 45px;
          margin: auto;
          top: 100px;
          border: 4px solid $backgroundColor;
          z-index: 5;
          overflow: hidden;
          box-sizing: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);

          @include mobile {
            top: 50px;
            left: 15px;
            width: 94px;
            height: 94px;
          }
          @include mobileHorizontal {
            top: 50px;
            left: 15px;
            width: 94px;
            height: 94px;
          }

          .profile-avatar {
            width: 142px;
            height: 142px;
            object-fit: cover;

            @include mobile {
              width: 94px;
              height: 94px;
            }

            @include mobileHorizontal {
              width: 94px;
              height: 94px;
            }
          }
        }
      }
    }
    .profile-right-bottom {
      display: flex;
      width: 100%;
      flex-direction: column;

      @include mobile {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}
.modal-background {
  background-color: $modalWrapperBackgroundColor;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.avatar-modal-wrapper {
  position: absolute;
  height: calc(100% - $navbarHeight);
  width: 100%;
  left: 0;
  right: 0;
  top: $navbarHeight;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .avatar-modal-container {
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $sidebarColor;
    z-index: 11;
    border-radius: 0px 20px 20px 20px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.14);

    @include mobile {
      border-radius: 0px 10px 10px 10px;
    }

    @include mobileHorizontal {
      min-width: 250px;
      max-width: 250px;
    }

    .avatar-modal-bottom-container {
      background-color: $sidebarColor;
      width: 100%;
      padding: 10px;

      .avatar-modal-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar-modal-options {
          display: flex;
          margin-left: 20px;

          @include mobileHorizontal {
            margin-left: 8px;
          }

          .avatar-modal-option {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            cursor: pointer;

            @include mobileHorizontal {
              margin-right: 8px;
            }

            .file-icon {
              font-size: 18px;
              margin-right: 10px;
              color: $primaryColorFaded;

              @include mobileHorizontal {
                margin-right: 8px;
              }
            }

            &:hover {
              .share-icon {
                color: $primaryColor;
              }
            }

            .avatar-modal-option-text {
              font-size: 16px;
              font-weight: 500;

              @include mobileHorizontal {
                font-size: 14px;
              }
            }
          }
        }

        .save-button {
          border: none;
          padding: 7px;
          border-radius: 5px;
          background-color: transparent;
          background-image: $glassGradient;
          border: solid 2px $primaryColorFaded;
          font-weight: 500;
          font-size: 16px;
          margin-right: 20px;
          cursor: pointer;
          color: $textWhite;
          outline: none;

          @include mobileHorizontal {
            margin-right: 10px;
          }

          &:hover,
          &:focus {
            background-image: none;
            border: solid 2px $primaryColor;
            background-color: $primaryColor;
          }
        }

        .invalid-save-button {
          background-image: none;
          color: $fadedButtonColor;
          border: solid 2px $fadedButtonColor;

          &:hover,
          &:focus {
            background-image: none;
            border: solid 2px $fadedButtonColor;
            background-color: transparent;
            color: $fadedButtonColor;
          }
        }
      }
    }
    .avatar-modal-img-container {
      position: relative;
      min-width: 500px;
      min-height: 500px;
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileHorizontal {
        width: 100%;
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .avatar-modal-cropper {
        width: 100%;
        position: absolute;
        object-fit: contain;
        display: block;
      }

      .avatar-modal-img {
        min-width: 500px;
        min-height: 500px;
        object-fit: cover;
        display: block;

        @include mobile {
          min-width: 95vw;
          min-height: 95vw;
        }
        @include mobileHorizontal {
          min-width: 250px;
          min-height: 250px;
          max-width: 250px;
          max-height: 250px;
        }
      }

      .avatar-modal-cancel-img {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s ease;
        color: crimson;
      }
    }

    .cover-modal-img-container {
      position: relative;
      min-width: 500px;
      min-height: 500px;
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
        min-width: 95vw;
        min-height: 95vw;
        max-width: 95vw;
        max-height: 95vw;
      }

      @include mobileHorizontal {
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
      }

      .cover-modal-cropper {
        width: 100%;
        position: absolute;
        object-fit: contain;
        display: block;
      }

      .cover-modal-img {
        min-width: 500px;
        max-width: 500px;
        object-fit: cover;
        display: block;

        @include mobile {
          min-width: 95vw;
          max-width: 95vw;
        }

        @include mobileHorizontal {
          min-width: 250px;
          min-height: 250px;
          max-width: 250px;
          max-height: 250px;
        }
      }

      .cover-modal-cancel-img {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s ease;
        color: crimson;
      }
    }

    .edit-modal-message {
      padding: 20px;
      width: 100%;
      font-size: 20px;
    }
    .edit-modal-selection-container {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .edit-modal-option {
        font-size: 17px;
        padding: 20px;
        width: 100%;
        background-color: $backgroundColor;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .edit-modal-icon {
          color: $primaryColor;
          margin-right: 6px;
        }

        &:hover {
          background-color: $editedBackgroundColor;
        }
      }
    }
  }
}
