@import "../../global.scss";

.timeline {
  flex: 9;
  overflow-y: scroll;
  overflow: overlay;
  height: calc(100vh - $navbarHeight);

  @include mobile {
    min-height: calc(100vh - $navbarHeight - $footerHeight);
    height: calc(100vh - $navbarHeight - $footerHeight);
  }
}

.timeline-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0px auto;

  .share-desktop-container {
    display: block;
    width: 100%;

    @include mobile {
      display: none;
    }

    @include mobileHorizontal {
      display: none;
    }
  }

  @include mobile {
    padding: 20px 20px 0px 20px;
  }

  @include mobileHorizontal {
    padding: 20px 20px 0px 20px;
    max-width: 500px;
  }
}

.timeline-sticky-info-container {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 2;
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.45);

  .timeline-sticky-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 92%;

    .timeline-sticky-info-name {
      font-size: 22px;
      font-weight: 500;
    }
  }
}
