@import "../../global.scss";

.profileInfo-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: $navbarColor;
  border-radius: 5px;
  margin: auto;
  padding: 15px 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: left;
  font-size: 18px;

  .profile-info-div {
    padding: 5px;
    display: flex;

    .profile-info-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .profile-info-strong {
      font-weight: bold;
      min-width: 90px;
    }

    .profile-website-a {
      color: $textWhite;
      cursor: pointer;
      transition: all ease 0.12s;
      word-break: break-all;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  .profile-info-hr {
    margin: 16px;
    height: 1px;
    color: $borderColor;
    background-color: $borderColor;
    border: none;
  }

  .profile-info-clickable {
    display: flex;
    align-items: center;
    justify-content: left;
    // background-color: transparent;
    // background-image: $glassGradient;
    background-color: $formInputColor;
    border: solid 2px transparent;
    width: 100%;
    cursor: pointer;
    padding: 7px;
    margin: 4px 0px;
    border-radius: 50px;

    &:hover {
      border: solid 2px $borderColor;
    }
  }

  .pic-active {
    border: solid 2px $primaryColor;

    &:hover {
      border: solid 2px $primaryColor;
    }
  }

  .profile-info-icon {
    margin: 0px 10px;
  }

  .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }
  }
}

a {
  color: $textWhite;
}
