@import "../../global.scss";

.post {
  width: 100%;
  color: $textWhite;
  background-color: $postContainerBackgroundColor;
  margin: 0px 0px 20px 0px;
  border-radius: 1px 25px 25px 25px;
  position: relative;
}

.post-wrapper {
  .post-upper {
    padding: 10px;
    background-color: $postBackgroundColor;
    border-radius: 3px 25px 25px 25px;

    @include mobile {
      padding: 10px 10px 7px 10px;
    }

    .post-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;

      a,
      .not-a-link {
        height: 50px;
        display: flex;
        align-items: center;
        color: $textWhite;
        margin-right: 10px;

        .post-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .post-top-center {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;

        .post-info {
          display: flex;
          align-items: baseline;
          justify-content: baseline;
          margin-right: 25px;

          a,
          .not-a-link {
            color: $textWhite;
            margin-right: unset;
            height: unset;

            .post-username {
              font-size: 18px;
              font-weight: 500;
              margin: 0 10px 0px 0px;
              cursor: pointer;
            }
          }

          .post-date {
            font-size: 12px;
            color: $fadedTextColor;
          }
        }
        .post-body {
          padding: 3px 0px;
          text-align: left;
          font-size: 18px;

          @include mobile {
            padding: 1px 0px;
          }
          @include mobileHorizontal {
            padding: 1px 0px;
          }
        }

        .post-edit-wrapper {
          .post-edit-form-container {
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            form {
              width: 100%;
            }

            .edit-input {
              border: none;
              width: 100%;
              min-width: 100%;
              max-width: 100%;
              min-height: 50px;
              max-height: 150px;
              margin: 10px 0px;
              padding: 7px 12px;
              font-size: 18px;
              background-color: $backgroundColor;
              // background-image: $glassGradient;
              border-radius: 3px;
              color: $textWhite;
              outline: none;
              resize: vertical;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
              @include mobile {
                max-height: 200px;
              }

              &:focus,
              &:hover {
                background-color: $navbarColor;
              }
            }

            .edit-form-buttons-container {
              display: flex;
              align-items: center;
              justify-content: center;

              button {
                font-weight: 600;
                padding: 7px;
                border-radius: 5px;
                background-color: transparent;
                cursor: pointer;
                font-size: 18px;
                height: 38px;
                max-height: 38px;
                margin: 0px 30px;
                outline: none;
              }

              .edit-options-submit {
                width: 60px;
                border: 2px solid $editButtonTextColor;
                color: $textWhite;
                background-image: $glassGradient;

                &:hover,
                &:focus {
                  background-color: $editButtonTextColor;
                  color: black;
                }
              }

              .edit-options-cancel {
                width: 80px;
                border: 2px solid $primaryColor;
                color: $textWhite;
                background-image: $glassGradient;

                &:hover,
                &:focus {
                  background-color: $primaryColor;
                  color: black;
                }
              }

              .invalid {
                opacity: 0.5;
                min-width: 60px;
                border: 2px solid white;
                color: $textWhite;
                cursor: unset;
              }
            }
          }
        }

        .post-img-wrapper {
          margin: 6px 0px 4px 0px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @include mobile {
            margin: 4px 0px 2px 0px;
          }

          .post-img-container {
            width: 100%;
            max-height: 300px;
            background-color: $sidebarColor;
            border-radius: 0px 20px 20px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 10px;

            @include mobile {
              width: 100%;
              max-height: 180px;
            }
            @include mobileHorizontal {
              max-height: 180px;
            }

            .post-img {
              width: 100%;
              max-height: inherit;
              object-fit: cover;
            }
          }
        }

        .post-edit {
          margin-left: 0px;
          margin-right: auto;
          margin-top: 5px;
          margin-bottom: 2px;
          padding: 3px 10px 4px 10px;
          text-align: left;
          font-size: 12px;
          font-weight: 500;
          background-color: $editedBackgroundColor;
          color: $primaryColorFaded;
          border-radius: 20px;
        }
      }

      .post-top-right {
        position: absolute;
        top: 0px;
        right: 0px;

        .post-options-icon {
          color: $textWhite;
          cursor: pointer;

          &:hover {
            color: $primaryColor;
          }
        }
        .post-options-div {
          position: absolute;
          top: 0px;
          right: 25px;
          display: flex;

          @include mobile {
            flex-direction: column;
          }

          button {
            background-color: $backgroundColor;
            border: none;
            padding: 5px 12px;
            font-weight: 700;
            cursor: pointer;
            white-space: nowrap;
          }

          .post-options-edit {
            color: $editButtonTextColor;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            @include mobile {
              border-radius: 0px 0px 10px 10px;
            }

            &:hover {
              background-color: $editButtonBackgroundColor;
            }
          }

          .post-options-delete {
            color: $deleteButtonTextColor;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            @include mobile {
              border-radius: 10px 10px 0px 0px;
            }

            &:hover {
              background-color: $deleteButtonHoverColor;
            }
          }
        }
      }
    }

    .post-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 3px;

      .post-bottom-left {
        display: flex;
        align-items: center;
        margin-left: 60px;

        a {
          color: $fadedTextColor;

          &:hover {
            color: $textWhite;
          }
        }

        .like-icon {
          width: 24px;
          height: 24px;
          margin-right: 6px;
          cursor: pointer;
          color: $primaryColorFaded;

          &:hover {
            color: $primaryColor;
          }
        }

        .liked {
          color: $primaryColor;
        }

        .post-like-counter {
          font-size: 15px;
        }
      }

      .post-comment-body {
        cursor: pointer;
        border-bottom: 1px dashed gray;
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  .post-comments-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 5px 10px;

    .post-comment-input-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 5px 10px 10px 10px;

      @include mobile {
        flex-direction: column;
        background-color: $backgroundColor;
        border-radius: 3px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin: 5px 10px 10px 10px;
      }

      .comment-input {
        border: none;
        width: 100%;
        resize: vertical;
        min-height: 45px;
        height: 45px;
        max-height: 150px;
        margin-right: 15px;
        padding: 10px 12px;
        font-size: 18px;
        background-color: $backgroundColor;
        border-radius: 3px;
        color: $textWhite;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;

        @include mobile {
          width: 100%;
          margin-right: unset;
        }

        &:focus {
          outline: none;
        }
      }

      .post-comment-button-container {
        @include mobile {
          width: 100%;
        }

        .comment-button {
          border: none;
          padding: 7px;
          border-radius: 5px;
          background-color: transparent;
          background-image: $glassGradient;
          border: solid 2px $primaryColorFaded;
          font-weight: 500;
          font-size: 16px;
          cursor: pointer;
          color: $textWhite;
          height: 45px;
          max-height: 45px;
          outline: none;

          &:hover,
          &:focus {
            background-image: none;
            background-color: $primaryColor;
            border: solid 2px $primaryColor;
          }

          @include mobile {
            margin-right: unset;
            border: unset;
            border-radius: unset;
            padding-bottom: 9px;
            height: 33px;
            max-height: 33px;
            width: 100%;
            min-width: 100%;
            text-align: center;
            background-image: $glassGradient;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            &:focus,
            &:hover {
              border: none;
              background-color: transparent;
              color: $primaryColor;
              background-image: $glassGradient;
            }
          }
        }

        .invalid-comment-button {
          background-image: none;
          color: $fadedTextColor;

          @include mobile {
            background-color: $commentButtonBackgroundColor;
            background-image: none;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          }
          &:hover,
          &:focus {
            background-image: none;
            background-color: transparent;
            border: solid 2px $primaryColor;
          }
        }
      }
    }

    .post-comments {
      display: flex;
      flex-direction: column;
      margin-top: 5px;

      .view-more-comments-button {
        background-color: transparent;
        background-image: $glassGradient;
        color: $textWhite;
        border: solid 2px $borderColor;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 16px;
        margin: 5px auto;
        cursor: pointer;
        transition: all 0.2s ease;

        a {
          color: $textWhite;
        }

        &:hover {
          border-color: $primaryColor;
        }

        @include mobile {
          border-radius: 5px;
          border: solid 2px $primaryColorFaded;
        }
      }
    }
  }
}

.delete-post-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 3px 25px 25px 25px;
  font-size: 16px;
  z-index: 2;

  .delete-post-message {
    font-size: 18px;
    margin: 10px 0px;
    background-color: $sidebarColor;
    background-image: $glassGradient;
    border: 2px solid $primaryColor;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 90%;
  }

  button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 12px;
    margin: 5px 30px;
    border-radius: 5px;
    background-color: $sidebarColor;
    background-image: $glassGradient;
  }

  .delete-button {
    color: $deleteButtonTextColor;
    border: solid 2px $deleteButtonTextColor;
    &:hover {
      background-color: $deleteButtonTextColor;
      color: black;
    }
  }

  .cancel-button {
    color: $primaryColor;
    border: solid 2px $primaryColor;
    &:hover {
      background-color: $primaryColor;
      color: black;
    }
  }
}
