$backgroundColor: rgb(40, 40, 41);
$navbarColor: rgb(30, 30, 30);
$sidebarColor: rgb(21, 21, 21);
$sidebarColorMobile: rgba(21, 21, 21, 0.93);
$postBackgroundColor: rgba(255, 255, 255, 0.13);
$postContainerBackgroundColor: rgba(255, 255, 255, 0.11);
$commentButtonBackgroundColor: rgba(190, 190, 190, 0.09);
$textWhite: rgb(247, 247, 247);
$primaryColor: #4bb44b;
$primaryColorFaded: rgba(75, 180, 75, 0.7);
$primaryColorGlow: rgba(75, 180, 75, 0.45);
$formInputFocusColor: rgba(100, 100, 100, 0.5);
$formInputColor: rgba(100, 100, 100, 0.28);
$navbarHeight: 60px;
$footerHeight: 50px;
$scrollThumbColor: hsla(0, 0%, 45%, 0.7);
$scollTrackColor: transparent;
$subTextColor: rgb(175, 175, 175);
$borderColor: rgb(100, 100, 100);
$darkBorder: rgb(15, 15, 15);
$deleteButtonTextColor: rgb(255, 23, 70);
$deleteButtonHoverColor: rgba(255, 79, 114, 0.2);
$editButtonTextColor: orange;
$editButtonBackgroundColor: rgba(255, 166, 0, 0.2);
$fadedTextColor: rgb(197, 197, 197);
$fadedButtonColor: rgb(71, 71, 71);
$editedBackgroundColor: rgb(67, 67, 67);
$notificationHoverColor: rgba(151, 151, 151, 0.07);
$glassGradient: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.04) 0%,
  rgba(255, 255, 255, 0.07) 20%,
  rgba(255, 255, 255, 0.11) 50%,
  rgba(255, 255, 255, 0.07) 80%,
  rgba(255, 255, 255, 0.04) 100%
);

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: $scollTrackColor;
  background: $scollTrackColor;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollThumbColor;
  border: solid 6px transparent;
  // border-radius: 10px;
  background-clip: content-box;

  &:hover {
    background-color: $primaryColorFaded;
  }
}

::-webkit-resizer {
  // display: none;
  border-right: 2px solid $primaryColorFaded;
  border-bottom: 2px solid $primaryColorFaded;
  cursor: pointer;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    $postBackgroundColor 51%,
    $postBackgroundColor 100%
  );
}

$width: 768px;

@mixin mobile {
  // @media (min-height: 421px) {
  @media (min-height: 1px) {
    @media (max-width: #{$width}) {
      @content;
    }
  }
}

// @mixin mobileKeyboard {
//   @media (max-height: 500px) {
//     @media (max-width: 500px) {
//       @content;
//     }
//   }
// }

// @mixin mobileHorizontal {
//   @media (max-height: 420px) {
//     @media (min-width: 700px) {
//       @content;
//     }
//   }
// }

.loader-full-screen {
  height: calc(100vh - $navbarHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  width: 100%;
}

.loader-notification {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
}

.loader-center-feed {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-follower {
  height: 45px;
  max-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// app
// app

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textWhite;
  background-color: $backgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
  height: 100vh;
  position: relative;
  // background-color: $backgroundColor;
}

.container {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: $backgroundColor;
  background-size: cover;
  background-position: center;
  // overflow: overlay;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
