$backgroundColor: rgb(40, 40, 41);
$navbarColor: rgb(30, 30, 30);
$sidebarColor: rgb(21, 21, 21);
$sidebarColorMobile: rgba(21, 21, 21, 0.93);
$postBackgroundColor: #505050;
$postContainerBackgroundColor: rgba(196, 196, 196, 0.137);
$commentButtonBackgroundColor: rgba(180, 180, 180, 0.09);
$textWhite: rgb(247, 247, 247);
$primaryColor: #4bb44b;
$primaryColorFaded: #4bb44bb3;
$primaryColorGlow: rgba(75, 180, 75, 0.45);
$formInputFocusColor: rgba(100, 100, 100, 0.5);
$formInputColor: rgba(100, 100, 100, 0.28);
$navbarHeight: 60px;
$testColor: rgb(19, 18, 48);
$footerHeight: 50px;
$scrollThumbColor: rgba(115, 115, 115, 0.7);
$scollTrackColor: transparent;
$subTextColor: rgb(175, 175, 175);
$borderColor: rgb(100, 100, 100);
$darkBorder: rgb(15, 15, 15);
$deleteButtonTextColor: #ff1746;
$deleteButtonHoverColor: #ff4f7233;
$editButtonTextColor: orange;
$editButtonBackgroundColor: rgba(255, 166, 0, 0.2);
$fadedTextColor: #c5c5c5;
$fadedButtonColor: rgb(71, 71, 71);
$editedBackgroundColor: rgb(67, 67, 67);
$notificationHoverColor: rgba(151, 151, 151, 0.07);
$modalWrapperBackgroundColor: rgba(141, 141, 141, 0.26);
$darkModalWrapperBackgroundColor: rgba(33, 36, 37, 0.65);
$notificationSeenButtonFaded: transparent;
$notificationSeenButtonFadedText: #474747;
$notificationSeenButtonFadedBorder: #474747;
$notificationDeleteButtonFaded: transparent;
$notificationDeleteButtonFadedText: #ff4f7233;
$notificationDeleteButtonFadedBorder: #ff4f7233;
$notificationSeenButton: #4bb44b;
$notificationDeleteButton: #ff1746;
$notificationSeenButtonText: #000000;
$notificationDeleteButtonText: #000000;
$glassGradient: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.04) 0%,
  rgba(255, 255, 255, 0.07) 20%,
  rgba(255, 255, 255, 0.11) 50%,
  rgba(255, 255, 255, 0.07) 80%,
  rgba(255, 255, 255, 0.04) 100%
);

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: $scollTrackColor;
  background: $scollTrackColor;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollThumbColor;
  border: solid 6px transparent;
  // border-radius: 10px;
  background-clip: content-box;
}

::-webkit-resizer {
  border-right: 2px solid $borderColor;
  border-bottom: 2px solid $borderColor;
  cursor: pointer;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    $postBackgroundColor 51%,
    $postBackgroundColor 100%
  );
}

$width: 768px;

@mixin mobile {
  @media (min-height: 421px) {
    @media (max-width: #{$width}) {
      @content;
    }
  }
}

@mixin smallDesktop {
  @media (min-height: 1px) {
    @media (max-width: 1300px) and (min-width: 820px) {
      @content;
    }
  }
}

@mixin mobileHorizontal {
  @media (max-height: 420px) {
    @media (min-width: 600px) and (max-width: 820px) {
      @content;
    }
  }
}

@mixin mobileKeyboard {
  @media (max-height: 500px) {
    @media (max-width: 500px) {
      @content;
    }
  }
}

.loader-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader-full-screen {
  height: calc(100vh - $navbarHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include mobile {
    height: calc(100vh - $navbarHeight - $footerHeight);
  }
}

.loader-notification {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-center-feed {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-follower {
  height: 45px;
  max-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// app
// app

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textWhite;
  background-color: $backgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0.25px;
}

.app {
  text-align: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
